# Variables CAPO — copier vers .env sur le VPS (NE PAS committer)
POSTGRES_PASSWORD=CapoDb2026Secure!
JWT_SECRET=capo-jwt-changez-moi-en-production-long-secret
NEXT_PUBLIC_APP_URL=http://51.255.200.11:3002
CAPO_PORT=3002
SEED_DB=true
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
